@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;

  /* Rack Your Garage */
  --ryg-navy: 18 43 78;
  --ryg-white: 255 255 255;
  --ryg-slate: 112 147 169;
  --ryg-orange: 252 108 3;
}

html, body {
  height: 100%;
}
